/* ==========================================================================
   Ouija inline commenting for Ghost

                                  ___===_*_
                              ===+++=-==----
                         =-=-======+==--=;-;-#
                     =;--=-=+=-###xx=+++-----;#
                 ===----===+X########Xxx==----#
              =+==+;;---==#X            x#X---=#
           +====+=;--====x               #-;---#
        ==+===-==---==++==               -----=#
      +=++====---===++==+=++=          ;;--====#
     ++=++==---===+++=++=xx++==--=-+==---======#
    ==+====--==++++=++x=-====-=----=--==++===-x#
    +====-===+++++=x++=-==---=-==--=-+=++=====##
    =-==--=+=++x=x+=;-=;--;-----;;;-=-====++==##
    ##--=+++++x+===;---------=-;----==-+--===##
     ####+==xxxx=------;-;---;;--=-=========##
       ############x--------;----====--==-=###
                 ######---;-----=-======--###
                     ####-;--;---=--=+==###
                       #####+=--==--x#####
                          #############

   ========================================================================== */
/* ==========================================================================
   Reset theme defaults
   ========================================================================== */
.ouija {
  text-shadow: none;
  line-height: 1;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: normal; }
  .ouija h1, .ouija h2, .ouija h3, .ouija h4, .ouija h5, .ouija h6,
  .ouija p,
  .ouija textarea {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: normal;
    text-shadow: none; }

/* ==========================================================================
   Ouija container
   ========================================================================== */
.ouija * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.ouija {
  position: absolute;
  top: 0;
  right: -50px;
  width: 40px;
  z-index: 1000;
  overflow: hidden; }
  .ouija .ouija-controls {
    position: relative;
    float: left;
    width: 40px;
    margin-top: 5px;
    z-index: 1; }
    .ouija .ouija-controls a {
      display: block;
      height: 21px;
      padding: 0 0 1px 15px;
      line-height: 1.6;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjQsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMzFweCIgaGVpZ2h0PSIyMXB4IiB2aWV3Qm94PSIwIDAgMzEgMjEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMxIDIxIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwYXRoIGZpbGw9IiNCQkMzQzgiIGQ9Ik0zMSwxMC41QzMxLDE2LjI5OSwyNi4yOTksMjEsMjAuNSwyMVMxLjYyNywxMS42NjIsMS42MjcsMTEuNjYyYy0wLjg5NS0wLjYzOS0wLjg5NS0xLjY4NSwwLTIuMzI1DQoJCUMxLjYyNyw5LjMzNywxNC43MDEsMCwyMC41LDBTMzEsNC43MDEsMzEsMTAuNXoiLz4NCjwvZz4NCjwvc3ZnPg0K);
      background-repeat: no-repeat;
      text-decoration: none;
      font-weight: 600;
      font-size: 13px;
      font-family: "Helvetica Neue", Arial, sans-serif;
      color: #222;
      -webkit-font-smoothing: antialiased; }
      .ouija .ouija-controls a:hover {
        opacity: 1;
        text-decoration: none;
        border: 0;
        background-color: transparent; }
      .ouija .ouija-controls a:focus {
        outline: none; }
      .ouija .ouija-controls a.add {
        font-size: 17px; }
        .ouija .ouija-controls a.add:after {
          display: block;
          content: '+';
          line-height: 1;
          -webkit-transform-origin: 8px 10px;
          -moz-transform-origin: 8px 10px;
          -ms-transform-origin: 8px 10px;
          -o-transform-origin: 8px 10px;
          transform-origin: 8px 10px;
          -webkit-transition: all 0.25s linear;
          -moz-transition: all 0.25s linear;
          transition: all 0.25s linear; }
      .ouija .ouija-controls a.count {
        letter-spacing: -1px; }
        .ouija .ouija-controls a.count span {
          display: block;
          position: relative;
          width: 21px;
          left: -6px;
          text-align: center; }
      .ouija .ouija-controls a.loader {
        height: 22px; }
        .ouija .ouija-controls a.loader span {
          top: 2px;
          left: -1px; }
  .ouija button,
  .ouija .ouija-button {
    position: relative;
    border: 0;
    padding: 5px 10px;
    border-radius: 2px;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    text-decoration: none;
    background: #57a3e8;
    font-size: 11px;
    color: white;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-apppearance: none; }
    .ouija button:hover,
    .ouija .ouija-button:hover {
      background: #4197e5; }
    .ouija button:active,
    .ouija .ouija-button:active {
      top: 1px;
      outline: none; }
    .ouija button:focus,
    .ouija .ouija-button:focus {
      outline: none; }
    .ouija button.text,
    .ouija .ouija-button.text {
      border: 0;
      background: none;
      color: #999;
      font-weight: 300; }
      .ouija button.text:hover,
      .ouija .ouija-button.text:hover {
        color: #555; }
  .ouija .ouija-comments {
    float: left;
    width: 260px;
    font-size: 13px;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    background: transparent;
    border-radius: 3px; }
    .ouija .ouija-comments > div {
      max-height: 350px;
      overflow: auto; }
  .ouija .ouija-comment {
    position: relative;
    min-height: 40px;
    margin-bottom: 20px;
    padding-left: 44px; }
  .ouija .ouija-avatar {
    display: block;
    position: absolute;
    top: 2px;
    left: 0; }
    .ouija .ouija-avatar figure {
      display: none; }
    .ouija .ouija-avatar img {
      width: 34px;
      height: 34px;
      margin: 0;
      padding: 0;
      border-radius: 2px; }
  .ouija .ouija-author {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px; }
    .ouija .ouija-author a {
      text-decoration: none; }
  .ouija .ouija-content p {
    font-size: 13px;
    line-height: 1.5;
    padding: 0;
    margin-bottom: 5px; }
  .ouija .ouija-content textarea {
    width: 100%;
    min-height: 60px;
    padding: 5px;
    margin: 5px 0;
    resize-x: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 12px; }
    .ouija .ouija-content textarea:focus {
      border: 1px solid #aaa;
      outline: none; }
  .ouija .ouija-content footer {
    text-align: right; }
  .ouija .ouija-login {
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #ddd;
    background: #f7f7f7; }
    .ouija .ouija-login h5 {
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: 100;
      color: #999; }
    .ouija .ouija-login .ouija-button {
      display: inline-block;
      text-decoration: none;
      font-size: 14px;
      padding: 7px 10px;
      background: #57a3e8;
      color: white; }
      .ouija .ouija-login .ouija-button [class^='icon-'],
      .ouija .ouija-login .ouija-button [class*=' icon-'] {
        position: relative;
        top: 2px;
        margin-right: 5px; }
  .ouija.ouija-active:after {
    content: '';
    position: absolute;
    height: 100%;
    left: 20px;
    top: 0;
    width: 1px;
    margin-top: 27.66667px;
    background: rgba(34, 34, 34, 0.1); }
  .ouija .ouija-colophon {
    display: block;
    float: right;
    margin-top: 10px;
    padding: 5px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: .7em;
    color: #ccc;
    letter-spacing: .1em;
    text-decoration: none; }
    .ouija .ouija-colophon span.ouija-logo {
      color: #bbb;
      font-size: 1.1em; }
      .ouija .ouija-colophon span.ouija-logo:before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-bottom: -2px;
        background-repeat: no-repeat;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjExcHgiIGhlaWdodD0iMTJweCIgdmlld0JveD0iMCAwIDExIDEyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4wLjEgKDc1OTcpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPmJhc2Vsb2dvPC90aXRsZT4KICAgIDxkZXNjcmlwdGlvbj5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzY3JpcHRpb24+CiAgICA8ZGVmcz48L2RlZnM+CiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBza2V0Y2g6dHlwZT0iTVNQYWdlIj4KICAgICAgICA8cGF0aCBkPSJNNC4xMjE4MjM1NSw4LjgzNzU4OTI2IEM0LjgwNTg3ODUsOS41MjE2Njc0OSA0LjE3MDMzNzYxLDExLjQxMDI5MDUgNS42NDA2NTE2NCwxMS45MDM1NzgyIEM5LjMyOTQyOTYsMTMuMDk1MTQ5NCAxMS41OTE2NjAzLDIuODYzMDcyMDggMTAuODY0MzI4NCwyLjEzNTY5MjQ5IEMxMC4xMzY5NzIsMS40MDgyODg0MSAtMC4wOTUxNzIzOTcsMy42NzA1ODg1OCAxLjA5NjQyNTM3LDcuMzU5Mzg0NDggQzEuNTg5Njg5NDgsOC44Mjk2NzE0MSAzLjQzNzcxOTYxLDguMTUzNTM1NTMgNC4xMjE4MjM1NSw4LjgzNzU4OTI2IFogTTguNzA3MDk4MSw0LjI5MjkwMDg1IEM5LjA5NzYzMzk3LDQuNjgzNDIxMDEgOS4wOTc2MzM5Nyw1LjMxNjU4OTczIDguNzA3MDk4MSw1LjcwNzEwOTg5IEM4LjMxNjYwNTE4LDYuMDk3NjE1NzIgNy42ODM0MDU1NSw2LjA5NzY0NDM2IDcuMjkyODY5NjgsNS43MDcxMDk4OSBDNi45MDIzNzY3Nyw1LjMxNjU2MTA5IDYuOTAyMzc2NzcsNC42ODMzOTIzNyA3LjI5Mjg2OTY4LDQuMjkyOTAwODUgQzcuNjgzNDA1NTUsMy45MDIzNjYzOCA4LjMxNjU2MjIzLDMuOTAyMzY2MzggOC43MDcwOTgxLDQuMjkyOTAwODUgTDguNzA3MDk4MSw0LjI5MjkwMDg1IFoiIGlkPSJiYXNlIiBmaWxsPSIjRDNEOERCIiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2LjAwMDAwMCwgNy4wMDAwMDApIHJvdGF0ZSgtMTUuMDAwMDAwKSB0cmFuc2xhdGUoLTYuMDAwMDAwLCAtNy4wMDAwMDApICI+PC9wYXRoPgogICAgPC9nPgo8L3N2Zz4=); }

/* ==========================================================================
   Loader
   ========================================================================== */
@-webkit-keyframes ouija-load {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes ouija-load {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(360deg); } }
@keyframes ouija-load {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.ouija-loader {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 14px;
  border: 3px solid #222222;
  border-left-color: transparent;
  border-radius: 7px;
  overflow: hidden;
  text-indent: -9999px;
  -webkit-animation: ouija-load 0.75s infinite linear;
  -moz-animation: ouija-load 0.75s infinite linear;
  animation: ouija-load 0.75s infinite linear; }

/* ==========================================================================
   UI States
   ========================================================================== */
.post-ouija {
  position: relative;
  right: 0;
  width: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
  .post-ouija.ouija-active {
    right: 150px; }
    .post-ouija.ouija-active .ouija .ouija-comments {
      margin-left: 0; }
  .post-ouija p, .post-ouija ol, .post-ouija ul, .post-ouija blockquote {
    position: relative; }
    .post-ouija p:hover .ouija .ouija-controls, .post-ouija ol:hover .ouija .ouija-controls, .post-ouija ul:hover .ouija .ouija-controls, .post-ouija blockquote:hover .ouija .ouija-controls {
      opacity: 1;
      -webkit-transition-delay: 0;
      -moz-transition-delay: 0;
      transition-delay: 0; }

.ouija .ouija-controls {
  opacity: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  transition-delay: 0.8s; }
  .ouija .ouija-controls a {
    opacity: .85;
    -webkit-transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1); }
.ouija.ouija-has-comments .ouija-controls {
  opacity: .75; }
.ouija .ouija-comments {
  opacity: 0;
  margin-left: -150px;
  visibility: hidden; }
.ouija.ouija-active {
  width: 300px;
  right: -310px; }
  .ouija.ouija-active .ouija-controls,
  .ouija.ouija-active .ouija-comments {
    opacity: 1;
    visibility: visible; }
  .ouija.ouija-active .ouija-controls a {
    opacity: 0.45; }
    .ouija.ouija-active .ouija-controls a.add:after {
      font-size: 20px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  .ouija.ouija-active .ouija-comments {
    margin-left: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1), margin-left 0.5s cubic-bezier(0.19, 1, 0.22, 1), margin-bottom 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1), margin-left 0.5s cubic-bezier(0.19, 1, 0.22, 1), margin-bottom 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1), margin-left 0.5s cubic-bezier(0.19, 1, 0.22, 1), margin-bottom 0.5s cubic-bezier(0.19, 1, 0.22, 1); }

/* ==========================================================================
   Responsive Styling
   Edit these styles to change how Ouija works on mobile devices
   and small screens
   ========================================================================== */
@media all and (max-width: 600px) {
  .post-ouija > section,
  .post-ouija > .post-content {
    padding-right: 25px; }
  .post-ouija.ouija-active {
    right: 0; }
    .post-ouija.ouija-active p, .post-ouija.ouija-active ol, .post-ouija.ouija-active ul, .post-ouija.ouija-active blockquote {
      position: static; }
    .post-ouija.ouija-active .ouija-controls {
      display: none; }

  .ouija {
    right: -45px; }
    .ouija .ouija-comments {
      position: fixed;
      bottom: 0;
      float: none;
      width: 100%;
      padding: 15px;
      margin-left: 0;
      margin-bottom: -25%; }
      .ouija .ouija-comments > div {
        margin-bottom: 15px;
        background: white;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch; }
    .ouija.ouija-has-comments .ouija-comments > div {
      padding: 15px 15px 0;
      border: 1px solid #ccc;
      border-radius: 3px; }
    .ouija.ouija-active {
      position: fixed;
      top: auto;
      left: 0;
      right: auto;
      bottom: 0;
      height: 100%;
      width: 100%;
      background: rgba(255, 255, 255, 0.85);
      background-color: transparent;
      background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.75), white);
      background-image: linear-gradient(rgba(255, 255, 255, 0.75), white); }
      .ouija.ouija-active:after {
        display: none; }
      .ouija.ouija-active .ouija-controls {
        display: block;
        float: right;
        margin-top: 15px; }
        .ouija.ouija-active .ouija-controls a {
          opacity: .8; }
          .ouija.ouija-active .ouija-controls a.count, .ouija.ouija-active .ouija-controls a.add {
            background: transparent; }
            .ouija.ouija-active .ouija-controls a.count span, .ouija.ouija-active .ouija-controls a.add span {
              display: none; }
            .ouija.ouija-active .ouija-controls a.count:after, .ouija.ouija-active .ouija-controls a.add:after {
              display: block;
              content: '+';
              line-height: 1;
              font-size: 36px;
              -webkit-transform-origin: 8px 10px;
              -moz-transform-origin: 8px 10px;
              -ms-transform-origin: 8px 10px;
              -o-transform-origin: 8px 10px;
              transform-origin: 8px 10px;
              -webkit-transition: all 0 linear;
              -moz-transition: all 0 linear;
              transition: all 0 linear;
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg); }
      .ouija.ouija-active .ouija-comments {
        margin-bottom: 0; } }
