/* ==========================================================================
   Ouija inline commenting for Ghost

                                  ___===_*_
                              ===+++=-==----
                         =-=-======+==--=;-;-#
                     =;--=-=+=-###xx=+++-----;#
                 ===----===+X########Xxx==----#
              =+==+;;---==#X            x#X---=#
           +====+=;--====x               #-;---#
        ==+===-==---==++==               -----=#
      +=++====---===++==+=++=          ;;--====#
     ++=++==---===+++=++=xx++==--=-+==---======#
    ==+====--==++++=++x=-====-=----=--==++===-x#
    +====-===+++++=x++=-==---=-==--=-+=++=====##
    =-==--=+=++x=x+=;-=;--;-----;;;-=-====++==##
    ##--=+++++x+===;---------=-;----==-+--===##
     ####+==xxxx=------;-;---;;--=-=========##
       ############x--------;----====--==-=###
                 ######---;-----=-======--###
                     ####-;--;---=--=+==###
                       #####+=--==--x#####
                          #############

   ========================================================================== */

@import "bourbon";

/* ==========================================================================
   Variables
   ========================================================================== */

//Distance to push the article
$offset: 18%;

//Ouija Sizing
$width: 300px;
$margin: 10px;
$controls-width: $margin*4;

//Comments
$avatar-size: 34px;
$comments-height: 350px;
$link-color: #57A3E8;
$border-color: #eee;

//Trigger icon SVG
$pointer-bg: 'PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjQsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMzFweCIgaGVpZ2h0PSIyMXB4IiB2aWV3Qm94PSIwIDAgMzEgMjEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMxIDIxIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwYXRoIGZpbGw9IiNCQkMzQzgiIGQ9Ik0zMSwxMC41QzMxLDE2LjI5OSwyNi4yOTksMjEsMjAuNSwyMVMxLjYyNywxMS42NjIsMS42MjcsMTEuNjYyYy0wLjg5NS0wLjYzOS0wLjg5NS0xLjY4NSwwLTIuMzI1DQoJCUMxLjYyNyw5LjMzNywxNC43MDEsMCwyMC41LDBTMzEsNC43MDEsMzEsMTAuNXoiLz4NCjwvZz4NCjwvc3ZnPg0K';

//Fonts
$font-sans: 'Open Sans', sans-serif;
$font-serif: 'Noto Serif', serif;

//Animation speed function
$time-function: $ease-out-expo;

/* ==========================================================================
   Ouija Container
   ========================================================================== */

.ouija * { @include box-sizing(border-box); }

.ouija {
  position: absolute;
  top: 0;
  right: -($controls-width + $margin);
  width: $controls-width;
  z-index: 1000;
  line-height: 1em;
  overflow: hidden;

  //Trigger Button
  .ouija-controls {
    position: relative;
    float: left;
    width: $controls-width;
    margin-top: $margin/2;
    z-index: 1;

    a {
      display: block;
      padding: 0 0 1px 15px;
      background-image: url(data:image/svg+xml;base64,#{$pointer-bg});
      background-repeat: no-repeat;
      text-decoration: none;
      font-weight: 900;
      font-size: 13px;
      font-family: $font-sans;
      color: #222;
      -webkit-font-smoothing: antialiased;
      &:hover {
        opacity: 1;
      }

      //Add Button
      &.add {
        font-size: 18px;
      }

      //Comment Count
      &.count {
        letter-spacing: -1px;
        span {
          display: block;
          position: relative;
          width: 21px;
          left: -6px;
          text-align: center;
        }
      }

      //Loader
      &.loader {
        height: 22px;
        span {
          top: 2px;
          left: -1px;
        }
      }

    }

  }

  //Comment form controls
  button,
  .ouija-button {
    position: relative;
    border: 0;
    padding: $margin/3 $margin/2;
    border-radius: 2px;
    font-family: $font-sans;
    text-decoration: none;
    background: $link-color;
    font-size: 11px;
    color: white;
    @include transition(all .3s linear);
    -webkit-apppearance: none;
    &:hover {
      background: darken($link-color, 5%);
    }
    &:active {
      top: 1px;
      outline: none;
    }
    &:focus {
      outline: none;
    }
    &.text {
      border: 0;
      background: none;
      color: #999;
      &:hover {
        color: #555;
      }
    }
  }

  //Comments Container
  .ouija-comments {
    float: left;
    width: $width - $controls-width;
    font-size: 13px;
    font-family: $font-sans;
    @include user-select(none);

    //Overflow container
    > section {
      max-height: $comments-height;
      overflow: auto;
    }

  }

    //Comment styling
    .ouija-comment {
      position: relative;
      min-height: 40px;
      margin-bottom: $margin*2;
      padding-left: $avatar-size + $margin;
    }

    .ouija-avatar {
      display: block;
      position: absolute;
      top: 2px;
      left: 0;

      img {
        width: $avatar-size;
        height: $avatar-size;
        margin: 0;
        padding: 0;
        border-radius: 2px;
      }

    }

    .ouija-author {
      font-size: 14px;
      font-weight: 600;
      a { text-decoration: none; }
    }

    .ouija-content {

      p {
        margin: 0;
      }

      textarea {
        width: 100%;
        min-height: 60px;
        padding: $margin/2;
        margin: $margin/2 0;
        resize-x: none;
        border: 1px solid #ccc;
        border-radius: 2px;
        &:focus {
          border: 1px solid #aaa;
          outline: none;
        }
      }

      footer {
        text-align: right;
      }

    }

    .ouija-new,
    .ouija-login {
      box-shadow: 0 -10px 15px 10px white;
    }

    .ouija-login {
      text-align: center;
      border-radius: 3px;
      border: 1px solid #ddd;
      background: #f7f7f7;
      padding: $margin $margin $margin*1.5;
      h5 {
        font-size: 12px;
        color: #999;
        font-weight: 100;
      }
      .ouija-button {
        text-decoration: none;
        font-size: 14px;
        padding: 7px 10px;
        [class^="icon-"],
        [class*=" icon-"] {
          position: relative;
          top: 2px;
          margin-right: 5px;
        }
      }
    }

  //Border separator
  &.ouija-active:after {
    content: "";
    position: absolute;
    height: 100%;
    left: 20px;
    top: -3px;
    width: 1px;
    background: $border-color;
  }

}

/* ==========================================================================
   Loader
   ========================================================================== */


@include keyframes(ouija-load) {
  0%   { @include transform(rotate(0deg));   }
  100% { @include transform(rotate(360deg)); }
}

$loader-size: 14px;
$loader-color: #222;

.ouija-loader {
  display: inline-block;
  position: relative;
  width: $loader-size;
  height: $loader-size;
  border: 3px solid $loader-color;
  border-left-color: transparent;
  border-radius: $loader-size/2;
  overflow: hidden;
  text-indent: -9999px;
  @include animation(ouija-load .75s infinite linear);
}



/* ==========================================================================
   UI States
   ========================================================================== */


.post-ouija {
  position: relative;
  right: 0;
  @include transition(right .5s $time-function);

  //Active post
  &.ouija-active { right: $offset; }

  //Trigger Ouija to show on hover of article
  p {
    position: relative;
    &:hover {
      .ouija .ouija-controls {
        opacity: 1;
        @include transition-delay(0);
      }
    }
  }

}

.ouija {

  //Comment Button
  .ouija-controls {
    opacity: 0;
    @include transition(opacity .5s $time-function);
    @include transition-delay(.8s); //Delay fade out of conrols

    a {
      opacity: .85;
      @include transition(all .2s $time-function);
    }

  }

  //Comment List
  .ouija-comments {
    opacity: 0;
    margin-left: -$width/2;
    @include user-select(all);
  }

  //Active Ouija
  &.ouija-active {
    width: $width;
    right: - ($width + $margin);

    .ouija-controls,
    .ouija-comments { opacity: 1; }

    .ouija-controls a { opacity: 0.45; }

    .ouija-comments {
      margin-left: 0;
      @include transition(all .25s $time-function, margin-left .5s $time-function);
    }

  }

}