<div class="ouija-comment" class="ouija-comment" data-ouija-id="{{id}}">
    <span class="ouija-avatar">
        <img src="http://images.rapgenius.com/454bcfe832ddc6565e5a355a522da1d2.1000x1000x1.jpg" alt="avatar">
    </span>
    <div class="ouija-author"><a href="#" alt="Timestamp">Rick Ross</a></div>
    <div class="ouija-content">
        <p>{{content}}</p>
    </div>
</div>
