<div class="ouija-response">
  <textarea placeholder="Leave a comment"></textarea>
  <a class="ouija-response-save" href="javascript:void(0)">Save</a>
  <a class="ouija-response-cancel" href="javascript:void(0)">Cancel</a>
</div>