 <form class="ouija-comment ouija-new">
    <span class="ouija-avatar">
        <img src="{{avatarUrl}}" alt="avatar">
    </span>
    <div class="ouija-author"><a href="#" alt="Timestamp">{{displayName}}</a></div>
    <div class="ouija-content">
        <form action="#">
            <textarea name="content" placeholder="Leave a comment..."></textarea>
            <footer>
                <button class="text" class="ouija-response-cancel">Cancel</button>
                <button class="ouija-response-save">Comment</button>
            </footer>
        </form>
    </div>
</form>
