 <form class="ouija-comment ouija-new">
    <span class="ouija-avatar">
        <img src="http://i.forbesimg.com/media/lists/people/jay-z_416x416.jpg" alt="avatar">
    </span>
    <div class="ouija-author"><a href="#" alt="Timestamp">Jay Z</a></div>
    <div class="ouija-content">
        <form action="#">
            <textarea>The flow of the century, oh it's timeless, HOV!</textarea>
            <footer>
                <button class="text" class="ouija-response-cancel">Cancel</button>
                <button class="ouija-response-save">Comment</button>
            </footer>
        </form>
    </div>
</form>
