<div class="ouija" data-ouija-section-name="{{sectionName}}">
  <div class="ouija-controls">
      <a href="#" class="add">+</a>
      <a href="#" class="loader"><span class="ouija-loader"></span></a>
      {{!-- <a href="" class="count"><span>3</span></a> --}}
  </div>
  <div class="ouija-comments">
    <section></section>
  </div>
</div>
