<div class="ouija" data-ouija-section-name="{{sectionName}}">
  <div class="ouija-controls">
      <a href="#" class="add">+</a>
  </div>
  <div class="ouija-comments">
    <section></section>
  </div>
</div>
